body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	/* background: linear-gradient(to bottom, #000, #38383d, #444444); */
}

img{
    width:100vw;
    height: 100vh;
    background-size:contain ;
}